server:
  port: 9091
  
spring:
  application:
    name: HMS-SERVICE
  datasource:
    url: jdbc:mysql://localhost:3306/hospital_management_backend?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: 
    driver-class-name: com.mysql.cj.jdbc.Driver
    
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  jmx:
    enabled: false
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
#  profiles:
#    active: prod
  # config:
  #   import: optional:configserver:http://localhost:9093

app:
  upload:
    dir: ${user.home}/hms-uploads